In [134]:
import pymysql
import pandas as pd

host_name = 'localhost'
host_port = 3306
username='root'
password=''
database_name='news_team_4'

db = pymysql.connect(
    host=host_name,
    port=host_port,
    user=username,
    password=password,
    db=database_name,
    charset='utf8'
)

SQL='SELECT * FROM tb_comment'
df=pd.read_sql(SQL, db)

/var/folders/xr/x8smbq7d6l1g33fxnfy1j4b80000gn/T/ipykernel_7953/2980856503.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql(SQL, db)

In [ ]:
df.shape

(2504503, 5)

In [135]:
# 댓글 내용이 없는(= 신고당해 삭제된 댓글) 댓글 삭제
df = df[df['Content'] != '']
df.shape

(2504440, 5)

In [136]:
df1=df.copy()
df1.shape

(2504440, 5)

### 강사님 피드백
1. 사용자 별 읽은 기사 목록을 만든다.
2. 사용자 간 읽은 기사 목록을 비교해서 그 행렬로 유사도를 계산한다.
3. 유사도가 높은 유저를 목록으로 or 유사도가 높은 유저가 읽은 뉴스기사 목록을 저장한다.

In [73]:
df1.groupby('UserID').count()

         ID  NewsID  WritedAt  Content
UserID
19        1       1         1        1
29        1       1         1        1
39        1       1         1        1
40        1       1         1        1
74        1       1         1        1
...      ..     ...       ...      ...
1058326  15      15        15       15
1058327  19      19        19       19
1058328   5       5         5        5
1058329  41      41        41       41
1058330   1       1         1        1

[813968 rows x 4 columns]

In [137]:
# 유저 별 읽은 기사 딕셔너리 생성
dict_df=df1.groupby('UserID')['NewsID'].apply(set).to_dict()

In [88]:
dict_df

{19: {376817},
 29: {376829},
 39: {376826},
 40: {376826},
 74: {376826},
 94: {376826},
 106: {376826},
 111: {376826},
 113: {376829},
 122: {376829},
 131: {376829},
 147: {376829},
 156: {376829},
 178: {376829},
 182: {376829},
 183: {376829},
 185: {376829},
 187: {376829},
 189: {376829},
 197: {376832},
 205: {376830},
 218: {376830},
 221: {376830},
 226: {376830},
 231: {376830},
 248: {376830},
 260: {376830},
 262: {376830},
 268: {376831},
 271: {376831},
 282: {376831},
 283: {376831},
 295: {376831},
 299: {376831},
 300: {376831},
 302: {376831},
 305: {376831},
 313: {376831},
 333: {376833},
 353: {376833},
 354: {376833},
 374: {376832},
 393: {376836},
 396: {376836},
 399: {376836},
 400: {376836},
 402: {376836},
 406: {376836},
 409: {376836},
 418: {376836},
 423: {376836},
 427: {376836},
 432: {376836},
 435: {376836},
 439: {376836},
 442: {376836},
 443: {376836},
 444: {376836},
 445: {376836},
 446: {376836},
 448: {376836},
 453: {376836},
 454: {376836},
 455: {376836},
 456: {376836},
 460: {376834},
 461: {376834},
 462: {376834},
 463: {376834},
 467: {376834},
 468: {376834},
 469: {376834},
 470: {376834},
 471: {376834},
 473: {376834},
 474: {376834},
 489: {376830},
 496: {376830},
 497: {376830},
 499: {376830},
 504: {376830},
 506: {376830},
 508: {376830},
 509: {376831},
 510: {376831},
 513: {376831},
 516: {376831},
 520: {376831},
 529: {376831},
 534: {376831},
 539: {376831},
 547: {376831},
 582: {376833},
 585: {376833},
 593: {376833},
 603: {376836},
 609: {376836},
 613: {376836},
 617: {376836},
 619: {376836},
 622: {376836},
 623: {376836},
 628: {376836},
 630: {376836},
 632: {376834},
 634: {376834},
 636: {376834},
 638: {376834},
 639: {376834},
 642: {376834},
 647: {376834},
 648: {376834},
 650: {376834},
 655: {376834},
 656: {376834},
 659: {376834},
 660: {376834},
 661: {376834},
 664: {376834},
 665: {376834},
 666: {376834},
 667: {376834},
 668: {376834},
 671: {376834},
 674: {376834},
 675: {376834},
 678: {376834},
 679: {376834},
 680: {376834},
 697: {376834},
 698: {376834},
 699: {376834},
 701: {376834},
 702: {376834},
 704: {376834},
 705: {376834},
 706: {376834},
 708: {376834},
 711: {376834},
 721: {376834},
 722: {376834},
 723: {376834},
 724: {376834},
 725: {376834},
 726: {376834},
 729: {376846},
 730: {376848},
 737: {376847},
 738: {376847},
 739: {376846},
 742: {376846},
 744: {376846},
 753: {376858},
 763: {376864},
 781: {376864},
 783: {376864},
 784: {376864},
 791: {376871},
 792: {376871},
 794: {376871},
 796: {376871},
 798: {376868},
 799: {376868},
 804: {376868},
 818: {376869},
 832: {376869},
 833: {376869},
 836: {376869},
 841: {376869},
 857: {376869},
 868: {376871},
 876: {376871},
 878: {376871},
 879: {376871},
 882: {376871},
 889: {376871},
 890: {376871},
 893: {376871},
 894: {376871},
 896: {376871},
 898: {376871},
 903: {376871},
 904: {376871},
 906: {376871},
 907: {376871},
 908: {376871},
 913: {376869},
 914: {376869},
 917: {376871},
 922: {376871},
 926: {376871},
 932: {376871},
 933: {376871},
 936: {376871},
 937: {376871},
 938: {376871},
 939: {376871},
 941: {376871},
 946: {376878},
 951: {376879},
 965: {376878},
 973: {376881},
 974: {376881},
 975: {376881},
 992: {376877},
 995: {376877},
 997: {376877},
 998: {376877},
 999: {376877},
 1006: {376877},
 1008: {376877},
 1010: {376877},
 1014: {376877},
 1038: {376877},
 1040: {376877},
 1045: {376871, 376877},
 1056: {376878},
 1063: {376878},
 1067: {376878},
 1068: {376878},
 1073: {376878},
 1076: {376878},
 1078: {376878},
 1083: {376878},
 1084: {376878},
 1087: {376878},
 1093: {376877},
 1097: {376877},
 1101: {376877},
 1106: {376878},
 1109: {376878},
 1111: {376878},
 1124: {376878},
 1125: {376878},
 1133: {376878},
 1139: {376878},
 1140: {376878},
 1144: {376878},
 1149: {376871, 376885},
 1168: {376890},
 1171: {376890},
 1174: {376890},
 1177: {376890},
 1191: {376889},
 1192: {376889},
 1201: {376888},
 1203: {376888},
 1204: {376888},
 1205: {376888},
 1211: {376888},
 1212: {376888},
 1216: {376888},
 1221: {376888},
 1228: {376888},
 1229: {376888},
 1232: {376888},
 1233: {376888},
 1242: {376888},
 1244: {376888},
 1248: {376830, 376883},
 1253: {376883},
 1282: {376883},
 1286: {376883},
 1289: {376830, 376883},
 1298: {376886},
 1308: {376885},
 1315: {376885},
 1318: {376885},
 1319: {376871, 376877, 376885},
 1320: {376885},
 1330: {376885},
 1334: {376885},
 1343: {376888},
 1346: {376883},
 1348: {376883},
 1357: {376883},
 1360: {376883},
 1390: {376888},
 1392: {376888},
 1397: {376888},
 1400: {376888},
 1401: {376888},
 1404: {376888},
 1417: {376888},
 1422: {376897},
 1424: {376894},
 1435: {376896},
 1440: {376896},
 1461: {376896},
 1462: {376896},
 1467: {376895},
 1482: {376893},
 1483: {376893},
 1490: {376893},
 1493: {376893},
 1498: {376893},
 1503: {376893},
 1510: {376893},
 1515: {376893},
 1517: {376893},
 1521: {376893},
 1527: {376892},
 1528: {376892},
 1530: {376892},
 1541: {376892},
 1553: {376896},
 1565: {376896},
 1569: {376893},
 1574: {376893},
 1577: {376893},
 1588: {376893},
 1589: {376893},
 1590: {376893},
 1604: {376904},
 1607: {376904},
 1608: {376904},
 1613: {376904},
 1614: {376904},
 1616: {376904},
 1627: {376905},
 1628: {376905},
 1631: {376905},
 1632: {376905},
 1648: {376905},
 1668: {376905},
 1678: {376905},
 1679: {376905},
 1680: {376905},
 1712: {376905},
 1716: {376905},
 1728: {376905},
 1736: {376905},
 1753: {376914},
 1760: {376914},
 1770: {376914},
 1781: {376914},
 1792: {376925},
 1806: {376925},
 1812: {376925},
 1816: {376925},
 1845: {376925},
 1872: {376922},
 1873: {376922},
 1878: {376831, 376922},
 1907: {376922},
 1916: {376925},
 1920: {376925},
 1925: {376925},
 1931: {376922},
 1932: {376922},
 1959: {376922},
 1964: {376922},
 1967: {376831, 376922},
 1969: {376966},
 1983: {376966},
 1985: {376966},
 1987: {376877, 376966},
 1990: {376966},
 2001: {376966},
 2002: {376966},
 2005: {376966},
 2021: {376966},
 2029: {376970},
 2057: {376970},
 2068: {376970},
 2081: {376966},
 2090: {376966},
 2117: {376966},
 2120: {376970},
 2129: {376970},
 2145: {376970},
 2149: {376970},
 2163: {376970},
 2171: {376980},
 2180: {376989},
 2181: {376989},
 2209: {376989},
 2210: {376995},
 2218: {376995},
 2219: {376995},
 2222: {376995},
 2236: {376995},
 2245: {377015},
 2249: {377015},
 2281: {377015},
 2309: {377028},
 2318: {377028},
 2330: {377028},
 2342: {377028},
 2357: {377026},
 2363: {377025},
 2375: {377025},
 2377: {377025},
 2396: {377025},
 2430: {377025},
 2447: {377025},
 2452: {377025},
 2464: {377041},
 2487: {377041},
 2494: {377041},
 2502: {376903, 377041},
 2504: {377042},
 2507: {377042},
 2521: {377073},
 2524: {377073},
 2530: {377073},
 2531: {377073},
 2536: {377073},
 2538: {377073},
 2541: {377073},
 2545: {377087},
 2557: {377130},
 2560: {377130},
 2581: {377160},
 2586: {377160},
 2591: {377160},
 2595: {377160},
 2609: {377160},
 2610: {377160},
 2617: {377165},
 2621: {377166},
 2622: {377165},
 2628: {377169},
 2630: {377169},
 2631: {377169},
 2635: {377169},
 2637: {377169},
 2638: {377169},
 2639: {377169},
 2659: {377169},
 2662: {377169},
 2671: {377168},
 2695: {377168},
 2703: {377168},
 2707: {377168},
 2709: {377168},
 2713: {377168},
 2719: {377168},
 2734: {377168},
 2741: {377167},
 2742: {377167},
 2744: {377167},
 2750: {377167},
 2751: {377167},
 2753: {377167},
 2756: {377167},
 2770: {377167, 377168},
 2778: {377167},
 2785: {377167},
 2796: {377169},
 2798: {377169},
 2800: {377169},
 2807: {377169},
 2809: {377169},
 2810: {377169},
 2828: {377168},
 2831: {377168},
 2835: {377168},
 2837: {377168},
 2839: {377168},
 2841: {377168},
 2850: {377169},
 2855: {377172},
 2859: {377176},
 2865: {377172},
 2867: {377172},
 2883: {377172},
 2890: {376831, 377172},
 2892: {377173},
 2893: {377173},
 2894: {377173},
 2895: {377173},
 2896: {377173},
 2897: {377173},
 2898: {377173},
 2900: {377173},
 2901: {377173},
 2902: {377173},
 2903: {377173},
 2905: {377173},
 2907: {377173},
 2908: {377173},
 2923: {377174},
 2924: {377174},
 2934: {377174},
 2942: {377174},
 2947: {377172},
 2951: {377172},
 2968: {377172},
 2969: {377172},
 2973: {377172},
 2974: {377172},
 2975: {377172},
 2979: {377172},
 2984: {377172},
 2985: {377172},
 2986: {377172},
 2989: {377172},
 2994: {377177},
 3009: {377177},
 3022: {377177},
 3026: {376905, 377177},
 3036: {377174},
 3037: {377174},
 3038: {377174},
 3041: {377174},
 3046: {377174},
 3052: {377174},
 3058: {377174},
 3059: {377174},
 3060: {377174},
 3062: {377174},
 3070: {377174},
 3073: {377174},
 3074: {377174},
 3082: {377172},
 3092: {377172},
 3097: {377172},
 3099: {377172},
 3100: {377177},
 3106: {377177},
 3108: {377177},
 3118: {377174},
 3119: {377174},
 3128: {377177},
 3130: {377177},
 3131: {377177},
 3132: {377177},
 3134: {377177},
 3137: {377177},
 3146: {377177},
 3150: {377177},
 3152: {377177},
 3153: {377177},
 3161: {377177},
 3163: {377177},
 3169: {377177},
 3173: {377177},
 3180: {377174},
 3183: {377183},
 3188: {377181},
 3207: {377180},
 3209: {377180},
 3214: {377180},
 3218: {377180},
 3221: {377180},
 3256: {377172, 377181},
 3268: {377180},
 3272: {377180},
 3281: {377180},
 3284: {377180},
 3292: {377180},
 3293: {377180},
 3295: {377180},
 3296: {377180},
 3300: {377180},
 3303: {377180},
 3316: {377180},
 3319: {377180},
 3324: {377180},
 3327: {377180},
 3332: {377180},
 3333: {377180},
 3336: {377180},
 3337: {377180},
 3340: {377180},
 3341: {377180},
 3342: {377180},
 3343: {377180},
 3345: {377180},
 3354: {377180},
 3372: {377186},
 3383: {377186},
 3426: {377186},
 3435: {377186},
 3438: {377186},
 3442: {377186},
 3451: {377186},
 3452: {377186},
 3454: {377191},
 3459: {377192},
 3461: {377193},
 3465: {377192},
 3470: {377194},
 3471: {377194},
 3473: {377194},
 3479: {377194},
 3480: {377194},
 3481: {377194},
 3482: {377194},
 3488: {377193},
 3495: {377193},
 3509: {377193},
 3510: {377193},
 3528: {377193},
 3529: {377193},
 3531: {377193},
 3534: {377193},
 3535: {377193},
 3536: {377193},
 3539: {377193},
 3541: {377193},
 3542: {377193},
 3543: {377193},
 3549: {377193},
 3550: {377193},
 3551: {377193},
 3552: {377193},
 3555: {377193},
 3564: {377193},
 3568: {377195},
 3575: {377193},
 3589: {377195},
 3598: {377195},
 3613: {377195},
 3617: {377195},
 3618: {377195},
 3620: {377195},
 3621: {377195},
 3622: {377195},
 3631: {377195},
 3633: {377195},
 3634: {377195},
 3651: {377195},
 3657: {377195},
 3658: {377195},
 3661: {377195},
 3669: {377197},
 3670: {377196},
 3673: {377195},
 3681: {377195},
 3682: {377195},
 3685: {377197},
 3691: {377197},
 3692: {377197},
 3694: {377196},
 3695: {377196},
 3696: {377196},
 3697: {377196},
 3702: {377196},
 3703: {377196},
 3707: {377196},
 3714: {377196},
 3715: {377196},
 3722: {377196},
 3731: {377196},
 3736: {377196},
 3742: {377196},
 3747: {377196},
 3749: {377196},
 3755: {377196},
 3756: {377196},
 3758: {377196},
 3765: {377196},
 3768: {377196},
 3775: {377200},
 3782: {377200},
 3785: {377200},
 3786: {377200},
 3789: {377200},
 3791: {377200},
 3793: {377200},
 3799: {377200},
 3801: {377200},
 3803: {377200},
 3808: {377196},
 3812: {377196},
 3816: {377196},
 3819: {377196},
 3820: {377196},
 3825: {377200},
 3827: {377200},
 3829: {377200},
 3831: {377200},
 3834: {377200},
 3835: {377200},
 3836: {377200},
 3838: {377200},
 3839: {377200},
 3844: {377200},
 3847: {377200},
 3850: {377200},
 3851: {377200},
 3853: {377200},
 3854: {377200},
 3856: {377200},
 3863: {377200},
 3864: {377200},
 3867: {377200},
 3868: {377200},
 3871: {377200},
 3873: {377200},
 3875: {377200},
 3879: {377200},
 3880: {377200},
 3881: {377200},
 3883: {377200},
 3884: {377200},
 3885: {377200},
 3890: {377200},
 3891: {377200},
 3901: {377208},
 3905: {377208},
 3909: {377208},
 3910: {377208},
 3917: {377208},
 3924: {377208},
 3932: {377208},
 3944: {377208},
 3945: {377208},
 3947: {377208},
 3948: {377208},
 3956: {377208},
 3958: {377208},
 3959: {377208},
 3961: {376896, 377208},
 3962: {377208},
 3964: {377208},
 3965: {377208},
 3967: {377208},
 3976: {377208},
 3978: {377208},
 3984: {377208},
 3988: {377208},
 4016: {376829, 377214},
 4023: {377214},
 4043: {377233},
 4046: {377233},
 4069: {377233},
 4080: {377233},
 4087: {377233},
 4111: {377233},
 4124: {377233},
 4125: {377233},
 4152: {377243},
 4155: {377243},
 4157: {377243},
 4160: {377243},
 4162: {377243},
 4163: {377243},
 4164: {377243},
 4168: {377243},
 4173: {377243},
 4175: {377243},
 4177: {377243},
 4178: {377243},
 4180: {377243},
 4189: {377247},
 4201: {377246},
 4206: {377246},
 4207: {377246},
 4219: {377246},
 4224: {377246},
 4232: {377246},
 4235: {377246},
 4238: {377244},
 4249: {377244},
 4250: {377180, 377244},
 4260: {377244},
 4274: {377244},
 4283: {377244},
 4287: {377244},
 4288: {377244},
 4296: {377244},
 4299: {377244},
 4302: {377244},
 4307: {377245},
 4308: {377245},
 4310: {377245},
 4311: {377245},
 4313: {377245},
 4317: {377245},
 4332: {377245},
 4335: {377245},
 4352: {377245},
 4360: {377246},
 4361: {377246},
 4366: {377246},
 4375: {377246},
 4381: {377246},
 4396: {377244},
 4402: {377244},
 4406: {377244},
 4410: {377244},
 4416: {377244},
 4423: {377245},
 4424: {377245},
 4433: {377245},
 4434: {377245},
 4437: {377245},
 4440: {377245},
 4441: {377245},
 4446: {377245},
 4452: {377245},
 4457: {377245},
 4459: {377245},
 4463: {377245},
 4470: {377246},
 4476: {377246},
 4485: {377246},
 4486: {377246},
 4497: {377251},
 4499: {377251},
 4501: {377251},
 4504: {377251},
 4505: {377251},
 4506: {377251},
 4509: {377251},
 4510: {377251},
 4511: {377251},
 4513: {377251},
 4515: {377251},
 4517: {377251},
 4522: {377251},
 4523: {377251},
 4524: {377251},
 4525: {377251},
 4526: {377251},
 4529: {377251},
 4531: {377251},
 4540: {377251},
 4541: {377251},
 4547: {377251},
 4556: {377254},
 4567: {377254},
 4572: {377254},
 4579: {377254},
 4593: {377254},
 4597: {377254},
 4599: {377254},
 4607: {377254},
 4609: {377254},
 4611: {377254},
 4617: {376869, 377254},
 4618: {377254},
 4621: {377254},
 4623: {377253},
 4625: {377253},
 4631: {377250},
 4633: {377250},
 4636: {377250},
 4651: {377250},
 4656: {377250},
 4659: {377250},
 4669: {377250},
 4680: {377250},
 4687: {377249},
 4694: {377249},
 4696: {377249},
 4709: {377249},
 4711: {377249},
 4722: {377249},
 4727: {377249},
 4729: {377249},
 4730: {377249},
 4739: {377249},
 4755: {377248},
 4779: {377254},
 4780: {377254},
 4781: {377254},
 4783: {377254},
 4785: {377254},
 4788: {377254},
 4789: {377254},
 4796: {377254},
 4798: {377254},
 4799: {377254},
 4807: {377250},
 4810: {377250},
 4813: {377250},
 4816: {377250},
 4818: {377250},
 4819: {377250},
 4823: {377250},
 4824: {377250},
 4826: {377250},
 4833: {377250},
 4838: {377250},
 4840: {377250},
 4841: {377250},
 4852: {377249},
 4857: {377249},
 4863: {377249},
 4865: {377249},
 4870: {377249},
 4878: {377249},
 4880: {377249},
 4894: {377248},
 4898: {377248},
 4920: {377248},
 4921: {377168, 377248},
 4930: {377248},
 4934: {377248},
 4936: {377248},
 4944: {377249},
 4952: {377248},
 4961: {377248},
 4972: {377256},
 4978: {377260},
 4979: {377260},
 4980: {377180, 377260},
 4983: {377260},
 4987: {377260},
 4990: {377260},
 4993: {377260},
 4995: {377260},
 5003: {377260},
 5009: {377260},
 5011: {377260},
 5018: {377260},
 5032: {377260},
 5033: {377260},
 5039: {377259},
 5043: {377259},
 5049: {377259},
 5056: {377259},
 5057: {377259},
 5060: {377259},
 5063: {377261},
 5065: {377261},
 5069: {377261},
 5086: {377261},
 5087: {377261},
 5094: {377261},
 5106: {377261},
 5113: {377261},
 5115: {377257},
 5116: {377257},
 5121: {377257},
 5130: {377257},
 5133: {377257},
 5141: {377257},
 5149: {377257},
 5151: {377257},
 5157: {377258},
 5161: {377258},
 5166: {377258},
 5176: {377258},
 5181: {377258},
 5185: {377258},
 5199: {377258},
 5200: {377258},
 5202: {377258},
 5203: {377258},
 5210: {377256},
 5211: {377256},
 5212: {377256},
 5213: {377256},
 5217: {377256},
 5221: {377256},
 5224: {377256},
 5232: {377256},
 5233: {377256},
 5234: {377256},
 5238: {377256},
 5239: {377256},
 5243: {377256},
 5244: {377256},
 5246: {377256},
 5247: {377256},
 5251: {377256},
 5257: {377256},
 5259: {377256},
 5261: {377256},
 5262: {377256},
 5272: {377261},
 5275: {377261},
 5279: {377261},
 5280: {376869, 377261},
 5281: {377261},
 5283: {377261},
 5284: {377261},
 5289: {377064, 377261},
 5295: {377261},
 5303: {377261},
 5317: {377257},
 5326: {377257},
 5329: {377257},
 5332: {377257},
 5334: {377257},
 5338: {377257},
 5341: {377257},
 5343: {377257},
 5344: {377257},
 5349: {377258},
 5365: {377258},
 5371: {377258},
 5372: {377258},
 5379: {377258},
 5380: {377258},
 5385: {377258},
 5388: {377258},
 5393: {377256},
 5395: {377256},
 5398: {377256},
 5401: {377256},
 5403: {377256},
 5404: {377256},
 5405: {377256},
 5414: {377265},
 ...}

In [138]:
# 유저 별 읽은 기사 Set 저장
user_news_df=pd.DataFrame(list(dict_df.items()),
                   columns=['UserID', 'ReadNews'])
user_news_df

         UserID                                           ReadNews
0            19                                           {376817}
1            29                                           {376829}
2            39                                           {376826}
3            40                                           {376826}
4            74                                           {376826}
...         ...                                                ...
813963  1058326  {1227750, 1239015, 1236793, 1165740, 1246190, ...
813964  1058327  {1220600, 1220832, 1241667, 1167974, 1242266, ...
813965  1058328               {1184720, 1235898, 1246190, 1163143}
813966  1058329  {1241219, 1232264, 1234573, 1187856, 1224467, ...
813967  1058330                                          {1246190}

[813968 rows x 2 columns]

In [ ]:
# import math
# user_news_df['cos_sim'] =''
# for i in range(813968): # len(user_news_df)+1
#     for j in range(813968):
#         tuple_list = []
#         if i == j:
#             pass
#         cos = len(user_news_df.iloc[i,1] & user_news_df.iloc[j,1])/(math.sqrt(len(user_news_df.iloc[i,1]))*math.sqrt(len(user_news_df.iloc[j,1])))
#         usr_tuple=(user_news_df['UserID'].iloc[j], cos)
#         tuple_list.append(usr_tuple)
#     user_news_df['cos_sim'].iloc[i] = tuple_list

In [154]:
test_df=user_news_df[:1000]
test_df

     UserID  ReadNews                                            cos_sim
0        19  {376817}  [(29, 0.0), (39, 0.0), (40, 0.0), (74, 0.0), (...
1        29  {376829}  [(19, 0.0), (39, 0.0), (40, 0.0), (74, 0.0), (...
2        39  {376826}  [(19, 0.0), (29, 0.0), (40, 1.0), (74, 1.0), (...
3        40  {376826}  [(19, 0.0), (29, 0.0), (39, 1.0), (74, 1.0), (...
4        74  {376826}  [(19, 0.0), (29, 0.0), (39, 1.0), (40, 1.0), (...
..      ...       ...                                                ...
995    5401  {377256}
996    5403  {377256}
997    5404  {377256}
998    5405  {377256}
999    5414  {377265}

[1000 rows x 3 columns]

In [157]:
import math

test_df['cos_sim'] =''
for i in range(1000): # len(user_news_df)+1
    tuple_list = []
    for j in range(1000):
        if i == j:
            pass
        else:
            # 코사인 유사도 계산식 구현
            cos = len(test_df.iloc[i,1] & test_df.iloc[j,1])/(math.sqrt(len(test_df.iloc[i,1]))*math.sqrt(len(test_df.iloc[j,1])))
            usr_tuple=(test_df['UserID'].iloc[j], cos)
            tuple_list.append(usr_tuple)
    test_df['cos_sim'].iloc[i] = tuple_list

/var/folders/xr/x8smbq7d6l1g33fxnfy1j4b80000gn/T/ipykernel_7953/538517401.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['cos_sim'] =''
/var/folders/xr/x8smbq7d6l1g33fxnfy1j4b80000gn/T/ipykernel_7953/538517401.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['cos_sim'].iloc[i] = tuple_list

In [158]:
for i in test_df['cos_sim']:
    i.sort(key=lambda x:-x[1])
    
print(test_df['cos_sim'])

     UserID  ReadNews                                            cos_sim
0        19  {376817}  [(29, 0.0), (39, 0.0), (40, 0.0), (74, 0.0), (...
1        29  {376829}  [(19, 0.0), (39, 0.0), (40, 0.0), (74, 0.0), (...
2        39  {376826}  [(19, 0.0), (29, 0.0), (40, 1.0), (74, 1.0), (...
3        40  {376826}  [(19, 0.0), (29, 0.0), (39, 1.0), (74, 1.0), (...
4        74  {376826}  [(19, 0.0), (29, 0.0), (39, 1.0), (40, 1.0), (...
..      ...       ...                                                ...
995    5401  {377256}  [(19, 0.0), (29, 0.0), (39, 0.0), (40, 0.0), (...
996    5403  {377256}  [(19, 0.0), (29, 0.0), (39, 0.0), (40, 0.0), (...
997    5404  {377256}  [(19, 0.0), (29, 0.0), (39, 0.0), (40, 0.0), (...
998    5405  {377256}  [(19, 0.0), (29, 0.0), (39, 0.0), (40, 0.0), (...
999    5414  {377265}  [(19, 0.0), (29, 0.0), (39, 0.0), (40, 0.0), (...

[1000 rows x 3 columns]

In [ ]:
test_df['cos_sim']
lambda x : -x[1]

### - 샘플 데이터로 테스트

In [ ]:
# 5만개 데이터로 test
sample_df=df.sample(frac=0.01, random_state=11)
sample_df.shape

(25044, 5)

In [ ]:
sample_df.tail()

,ID,NewsID,UserID,WritedAt,Content
1904069,2101928,169174,894393,2022-11-15 19:09:00,말그대로 개판이네
1489962,1687821,1013437,706382,2022-11-23 06:46:00,"""UN""무용론이 확대될듯."
1444680,1642539,1044078,713391,2022-11-30 16:14:00,가나가 이기면 땡....
279238,279239,391439,359774,0000-00-00 00:00:00,인파가 몰리는 관광지 마다 경찰이 몇백명씩 지키고 있어야 된다는 생각은 어디서 나오...
1092538,1290397,1027247,556832,2022-11-02 11:32:00,음벰바 개1짜2쓱

In [ ]:
print(sample_df['NewsID'].value_counts())
print(sample_df['UserID'].value_counts())

639135     81
1039180    46
1019043    36
1025993    32
1023657    31
           ..
391450      1
452589      1
186666      1
505627      1
1027247     1
Name: NewsID, Length: 17520, dtype: int64
434381    5
432315    5
434596    5
691332    5
434476    4
         ..
723077    1
940222    1
834784    1
919048    1
556832    1
Name: UserID, Length: 23927, dtype: int64

# 협업 필터링
### 1. 최근접 이웃 필터링
- 사용자 기반(User-User) 
    : 당신과 비슷한 고객들이 다음 상품도 구매했습니다.
- 아이템 기반(Item-Item) 
    : 이 상품을 구매한 다른 고객들은 다음 상품도 구매했습니다.

#### 1-1. 아이템 기반 최근접 이웃 협업 필터링
- 이 기사를 본 사람들은 다음 기사도 보았습니다.

In [ ]:
# UserID, NewsID 행렬 생성 
# tab = pd.crosstab(sample_df['UserID'],sample_df['NewsID'])
tab = pd.crosstab(sample_df['NewsID'],sample_df['UserID'])
tab

UserID,1229,2068,2835,3442,3803,4366,4459,4865,5018,6738,...,1058215,1058228,1058248,1058258,1058262,1058278,1058285,1058288,1058292,1058307
NewsID,,,,,,,,,,,,,,,,,,,,,
120512,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120516,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120521,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120522,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120526,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1245856,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1245909,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1246010,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1246018,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1246164,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [ ]:
# 댓글 단 뉴스기사 간의 유사도를 산출하기 위해 행렬 전치
tab_matrix_T=tab.transpose()
tab_matrix_T.head(3)

NewsID,120512,120516,120521,120522,120526,120527,120534,120546,120549,120561,...,1245507,1245711,1245825,1245837,1245850,1245856,1245909,1246010,1246018,1246164
UserID,,,,,,,,,,,,,,,,,,,,,
1229,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2068,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2835,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

# 뉴스 기사 간 cosine_similarity 계산
item_sim=cosine_similarity(tab_matrix_T, tab_matrix_T)

item_sim_df=pd.DataFrame(data=item_sim, index=tab.columns, columns=tab.columns)

print(item_sim_df.shape)
item_sim_df.head(3)

(23927, 23927)

UserID,1229,2068,2835,3442,3803,4366,4459,4865,5018,6738,...,1058215,1058228,1058248,1058258,1058262,1058278,1058285,1058288,1058292,1058307
UserID,,,,,,,,,,,,,,,,,,,,,
1229,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2068,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2835,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
item_sim_df[434596].sort_values(ascending=False)[:15]
# print(sample_df[sample_df['NewsID']=='376826'])

/var/folders/xr/x8smbq7d6l1g33fxnfy1j4b80000gn/T/ipykernel_7953/2677503496.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  item_sim_df[434596].sort_values(ascending=False)[:15]

UserID
434596    1.000000
392095    0.447214
1229      0.000000
815163    0.000000
815532    0.000000
815354    0.000000
815342    0.000000
815293    0.000000
815282    0.000000
815276    0.000000
815246    0.000000
815241    0.000000
815235    0.000000
815154    0.000000
815672    0.000000
Name: 434596, dtype: float64

In [ ]:
# sample_df[sample_df['UserID']==2835] # 377168
# sample_df[sample_df['UserID']==336849] # 377168
sample_df[sample_df['UserID']==392095] # 377168
sample_df[sample_df['NewsID']==527577]
# sample_df[sample_df['NewsID']==655031]
# sample_df[sample_df['NewsID']==618203]
# sample_df[sample_df['NewsID']==617442]
# sample_df[sample_df['NewsID']==611841]
# sample_df[sample_df['NewsID']==629312]
# sample_df[sample_df['NewsID']==629399]

,ID,NewsID,UserID,WritedAt,Content
514156,514157,527577,434596,2022-11-25 13:01:50,"탈중국이 정답...전세계 중국생산거점 기업, 투자금은 탈중화되어 아시아는 한국중심으..."
589744,589745,527577,392095,2022-11-26 08:05:22,탈중국해도 한국에 올 국가는 거이없음\n인건비 비싸고 강성노조에 세금 겁나 많이 내...

### 2. 잠재 요인 협업 필터링

#### 2-1. 행렬 분해를 이용한 잠재 요인 협업 필터링

In [ ]:
pass

### 15.8 파이썬 추천 패키지 - Surprise

In [ ]:
from surprise import SVD
from surprise import accuracy
from surprise.model_selection import train_test_split
from surprise import Reader
from surprise.dataset import DatasetAutoFolds

In [ ]:
col='NewsID UserID'
reader = Reader(line_format=col, sep=',', rating_scale=(1,5))
data=sample_df

train_set, test_set = train_test_split(data, test_size=25, random_state=0)

# 수행시마다 동일한 결과 도출을 위해 random_state 설정
algo=SVD(n_epochs=20, n_factors=50, random_state=0)

# 학습 데이터 세트로 학습 후 테스트 데이터 세트로 평점 예측 후 RMSE 평가
algo.fit(train_set)


pred = algo.test(test_set)
accuracy.rmse(pred)